<!DOCTYPE html>
<html>
<head>
    <title>DoorMan | Home</title>
</head>
<body>
    <h1>DoorMan</h1>
    <h3><a href="/">Use Stable Diffusion</a></h3>
    <h3><a href="/admin">Admin Panel</a></h3>

</body>
</html>